/* elements */
body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  }

img {
  height: auto;
  max-width: 100%;
  }

h1 {
  font-size: 2.4rem;
  font-weight: 800;
  }

h2 {
  font-size: 1.4rem;
  font-weight: 600;
  }

.container {
  margin: 0 auto;
  padding-left: .7rem;
  padding-right: .7rem;
  }

.nav {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 7;
  }

.nav-link {
  float:left;
  width: 33%;
  margin: 0;
  padding: 0;
  text-align: center;
  }

.lina:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  }

.visia:visited {
  color: rgb(0, 0, 255);
  }
  
.hovea:hover {
  color: rgb(0, 0, 255);
  background-color: transparent;
  text-decoration: underline;
  }
  
.aktia:active {
  color: rgb(91, 91, 255);
  background-color: transparent;
  text-decoration: none;
  }


  /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
      font-size: 1.2rem;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
    .lead {
      font-size: 1.4rem;
    }
    .container {
      max-width: 540px;
    }
  }
  /* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
      max-width: 960px;
    }
    section {
      column-count: 2;
    }
    /* img {
      float: right;
      margin: 1rem;
    } */
  }
  